.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky2 {
  position: fixed;
  top: 88px;
  width: 100%;
}
.sticky3 {
  position: fixed;
	top: -10px;
  width: 100%;
}
	.sticky4 {
  position: fixed;
	top: 90px;
  width: 100%;
}
.sticky7 {
  position: fixed;
  top: 10em;
  width: 100%;
}